<footer>
    <div class="footer_contents">
      <div class="footerbox one"><div><p><a title="" href="" class="internal-link" target="_self"><img src="/media/international-programs.png" alt="Logo" class="image-inline" title="ip-logo.png" /></a></p>
  <p>International Programs of CA&amp;ES<br />One Shields Ave<br /> Davis, CA 95616-8571</p>
  <p>Information: <strong>(530) 754-0275</strong><br /> Fax: <strong>(530) 754-7160</strong></p>
  <p>Visit us on campus at <strong>Room 1103 in the Environmental Horticulture Building<br /></strong></p>
  <p class="copyright">© Copyright 2013 UC Regents</p></div></div>
  <div class="footerbox two"><div><h4>About e-Afghan Ag</h4>
  <p>e-Afghan Ag "provides credible relevant information to those helping farmers in Afghanistan." The project is supported by USDA and managed by UC Davis. Over 60 institutions have contributed content.</p></div></div>
  <div class="footerbox three"><div><h4>Site links</h4>
    <p><a href="/disclaimer">Site Disclaimer</a></p><p> </p>
  <p>For more information about the International Programs Office, contact <a class="external-link" href="mailto:jehill@ucdavis.edu">Jim Hill</a>.</p></div></div>
  <div class="footerbox four"></div>
  </div>
        <div class="foot_top">
            <ul class="footer-list no-bullet">
                <li><a href="/">{{ site.title }}</a></li>
            </ul>
        </div>
        <div class="foot_bottom">
            <ul class="footer-list no-bullet">
                <li>&copy; Copyright 2000-
                    <script language="JavaScript" type="text/javascript">
                    now = new Date
                    theYear = now.getYear()
                    if (theYear < 1900)
                        theYear = theYear + 1900
                    document.write(theYear)
                    </script>
                    The Regents of the University of California, Davis campus. All rights reserved.
                </li>
                <!-- <li><a href="http://kb.sparknearby.com/legal">Contact</a></li>
                <li><a href="/posts/all">Recent</a></li> -->
            </ul>
            <!-- <ul class="footer-list no-bullet float-right">
                <li><a href="https://twitter.com/SparkNearby"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Spectafy"><i class="fa fa-facebook"></i></a></li>
            </ul> -->
        </div>
    </div>
</footer>
