<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="/"><img class="caeslogo" src="/media/epakag_logo.svg" alt=""></a>
        </div>
        <div style="display:none" class="search_wrapper">
                <form>
                    <input class="search_input" type="text" value="">
                </form>
        </div>
    </div>
</header>

<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
        <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>

    </nav>
  </div>

  <div class="container">
  	<div class="row">
          <hr>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/fruits-nuts-vegetables">
                  Fruits, Nuts & Vegetables <span class="caret"></span>
              </a>
      		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="/fruits-nuts-vegetables/Fruits">Fruits</a>
                  <ul class="dropdown-menu">
                    {% for post in site.tags.fruit %}
              				<li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
              			{% endfor %}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="/fruits-nuts-vegetables/Nuts">Nuts</a>
                  <ul class="dropdown-menu">
                    {% for post in site.tags.nuts %}
                      <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="/fruits-nuts-vegetables/Nuts">Vegetables</a>
                  <ul class="dropdown-menu">
                    {% for post in site.tags.vegetables %}
                      <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/grain-field-crops">
                  Grains & Field Crops <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for post in site.tags.crops %}
                  <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                {% endfor %}
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/grain-field-crops">
                  Livestock <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for post in site.tags.livestock %}
                  <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                {% endfor %}
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/grain-field-crops">
                  Irrigation and Natural Resource Management <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for post in site.tags.management %}
                  <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                {% endfor %}
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/pest-management">
                  Pest Management <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for post in site.tags.pest-main %}
                  <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                {% endfor %}
                <li><a tabindex="-1" href="/pest-management/pesticide-use">Pesticide Use and Safety</a></li>
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/grain-field-crops">
                  Other Topics <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for post in site.tags.other-topics %}
                  <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                {% endfor %}
              </ul>
          </div>
          <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/fruits-nuts-vegetables">
                  Fruits, Nuts & Vegetables <span class="caret"></span>
              </a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="/fruits-nuts-vegetables/Nuts">Vegetables</a>
                  <ul class="dropdown-menu">
                    {% for post in site.tags.vegetables %}
                      <li><a tabindex="-1" href="{{ post.permalink }}">{{post.title}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
          </div>

  	</div>
  </div>

      <!--
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="/a_horticulture/fruit-trees">Fruits</a></li>
          <li>hello</li>
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#">More options</a>
             <ul class="dropdown-menu">
               <li>hi</li>
             </ul>
          </li>
        </ul> -->



        <!--
        <ul id="nav_upperlevel">
        <li>
            <a href="/a_horticulture" aria-haspopup="true">Fruits, Nuts & Vegetables</a>
            <ul class="submenu">
                <li><a href="/a_horticulture/fruit-trees">Fruits</a>
                    <ul class="dropdown">
                      <li><a href="/a_horticulture/fruit-trees/apricots">Apricots</a></li>
                      <li><a href="/a_horticulture/fruit-trees/apples">Apples</a></li>
                      <li><a href="/cereals/fruit-trees/cherries">Cherries</a></li>
                    </ul>
                </li>
                <li><a href="/a_horticulture/nut-trees">Nuts</a></li>
                <li><a href="/a_horticulture/wheat">Wheat</a></li>
                <li><a href="/cereals/row-crops">Vegetables</a></li>
            </ul>

        </li>
            <li>
                <a href="/cereals" aria-haspopup="true">Cereals</a>
                <ul class="submenu">
                    <li><a href="/cereals/maize">Maize</a></li>
                    <li><a href="/cereals/rice">Rice</a></li>
                    <li><a href="/cereals/wheat">Wheat</a></li>
                    <li><a href="/cereals/videos">Postharvet Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="/vegetables">Vegetables</a>
            </li>
            <li>
                <a href="/treecrops">Treecrops</a>

            </li>
            <li>
                <a href="/livestock">Livestock</a>
            </li>
            <li>
                <a href="/livestock">Vocational Training</a>
            </li>
        </ul> -->
