---
layout: default
---

<div class="main">
    <div class="main_contents">
        <h1>Country Information معلومات کشور و مصونیت غذایی</h1>
        <br></br>
        <div class="hing-content">
          <div class="category_contents">
              <div class="description">
                <p>Afghanistan is a diverse country with a population of approximately 30.5 million people, of whom 50% are below the age of 15 and about 80% live in rural areas.  Follow the links below for more information about Afghanistan:</p>
              </div>
              <div class="description">
                <img src="/country-info/media/map.jpg">
          </div>
        </div>
          <div class="hing-content">
            <div id="main-boxes">
                {% for post in site.tags.country-info %}
                <div class="main-box">
                  <a href="{{post.permalink}}">
                    <h2>{{post.title}}</h2>
                    <h2>{{post.arabic}}</h2></a>
                    {% if post.image %}
                    <img src="{{post.image}}">
                    {% endif %}
                  </a>
                </div>
                {% endfor %}
            </div>
          </div>
</div>
</div>
</div>
