table {
    tbody {
        tr {
            border-bottom:1px solid $borders;
            th {
                font-size: 1.6rem;
                color: $primary-font;
                font-family: $sans-serif;
                background-color:$bg-color;
                padding:10px;
                text-align:left;
            }
            td {
                 padding:8px;
                font-size: 1.6rem;
                color: $primary-font;
                font-family: $sans-serif;
                vertical-align: top;
            }
        }
    }
}

.section_divider {
    margin-bottom: 10%;
}

// ul {
//     li {
//         &.bullet-divider:after {
//             content: "\2022";
//             font-size: 20px;
//             color:$tertiary-font;
//         }
//     }
// }
//images
.image-wrapper {
    width: auto;
    margin-top: 7px;
    img {
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px;
    }
    &.left {
        float: left;
        max-width: 300px;
        padding-right: 5%;
    }
    &.right {
        float: right;
        max-width: 300px;
        padding-left: 5%;
    }
    &.full-width {
        max-width: 800px;
    }
}

.img_article_thumb {
    float: left;
    max-width: 45%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 4%;
    max-height: 240px;
}

.btn {
    padding: 8px 20px;
    font-family: $sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    white-space: normal;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    // text-transform: uppercase;
    text-decoration: none;
    &:hover {
        opacity: .85;
        color: #fff;
    }
    &.btn-red {
        background-color: $unitrans-red;
    }
    &.btn-blue {
        background-color: $blue;
    }
    &.btn-green {
        background-color: $sunny-grass;
    }
    &.btn-newsletter {
        background-color: $sunny-grass;
    }
}

.float-right {
    float: right;
}

.bg-sunny-grass {
    background-color: $sunny-grass !important;
}

.bg-wine-grape {
    background-color: $wine-grape !important;
}

.bg-recpool-blue {
    background-color: $recpool-blue !important;
}

.bg-unitrans-red {
    background-color: $unitrans-red !important;
}

.bg-golden-lupine {
    background-color: $golden-lupine !important;
}

.bg-california-poppy {
    background-color: $california-poppy !important;
}

// Video
.video_wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    margin-bottom: 3%;
    position: relative;
    // overflow:hidden;
    .video_words {
        margin: 0 auto;
        width: 100%;
        max-width: 60rem;
        margin-top: -100px;
    }
}

//main-box
#main-boxes
{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: C;
  ul {
    list-style: none;
    padding-left: 0px;
  }
}
.main-box {
  width: 25%;
  border: #ddd 1px solid;
  text-align: center;
  padding: 8px;
  margin: 8px;
}

.description {
  width: 50%;
  padding: 8px;
  ul {
    margin-left: 16px;
  }
  h2 {
    margin-top: 0px;
  }


}

.category-picture {
  width: 50%;
  text-align: center;
  padding: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category_contents{
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: center;

  h2 {
    font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
    color: #24476d;
    font-size: 16px;
  }
}

.main_contents{
    h1 {
      color: #002855;
      font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
      font-weight: 200;
      font-size: 2.25em;
      line-height: 1.2em;
      margin: 0 80px 0 0;
      letter-spacing: .25px;

    }
}

.nav-container {
  background-color: #2e6da4;
  border-bottom: 5px solid #CFA21A;
  padding-left: 8%;
  padding-right: 8%;
}
.hing-pics{
  width: 50%;
}
.hing-content{

}

.row{
  display: flex;
}

.btn-primary{
  background-color: #2e6da4;
}

.btn-first{
  background-color: #2e6da4;
  margin-top: 0;
  color: white;


}


.dropdown-menu{
  border: 1px solid #CFA21A;
  padding-top: 0;
}

.btn-first-a{
    color: white;
    white-space: normal;
}

.btn-first-a:hover {
  opacity: .85;
}

.dropdown-menu>li>a{
  white-space: normal;
}

.footerbox {
    width: 27%;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-top: 10px;
    p {
      color: #fff;
    }
}



#footer_contents {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.foot_top {
  margin: 0 auto;
  width: 80%;
}

.foot_bottom{
  margin: 0 auto;
  width: 80%;
}
