---
layout: default
---

<div class="main">
    <div class="main_contents">
        <h1>Fruit, Nuts and Vegetables میوه جات،مغزباب و سبزیجات</h1>
        <div class="category_contents">
            <div class="description">
                <h2>Priorities</h2>
                <ul>
                  <li><b>Very high priority:</b>
                      {% for post in site.tags.fruit %}
                        {% if post.priority == "veryhigh" %}
                          <a href=" {{ post.permalink }}">{{ post.title }}</a>
                        {% endif %}
                      {% endfor %}
                      {% for post in site.tags.nuts %}
                        {% if post.priority == "veryhigh" %}
                          <a href=" {{ post.permalink }}">{{ post.title }}</a>
                        {% endif %}
                      {% endfor %}
                  </li>
                  <li><b>High priority:</b>
                    {% for post in site.tags.fruit %}
                      {% if post.priority == "high" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                    {% for post in site.tags.nuts %}
                      {% if post.priority == "high" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                  </li>
                  <li><b>Medium priority:</b>
                    {% for post in site.tags.fruit %}
                      {% if post.priority == "medium" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                    {% for post in site.tags.nuts %}
                      {% if post.priority == "medium" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                  </li>
                  <li><b>Lower priority:</b>
                    {% for post in site.tags.fruit %}
                      {% if post.priority == "lower" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                    {% for post in site.tags.nuts %}
                      {% if post.priority == "lower" %}
                        <a href=" {{ post.permalink }}">{{ post.title }}</a>
                      {% endif %}
                    {% endfor %}
                  </li>
                </ul>
                <p>These priorities are based on feedback from MAIL.</p>
                <h2>Background</h2>
                <ul>
                    <li>Cropping 101 Short Manual (UC Davis)</li>
                    <li>FAO Import/Export Data Link</li>
                    <li>FAO Permanent Crops & Arable Land Link</li>
                </ul>
            </div>
            <div class="category-picture">
                <img src="media/priorities.jpeg">
                <img src="media/major-orchard-crops.jpeg">
            </div>
        </div>
        <h2>Choose a Crop or Topic</h2>
        <div id="main-boxes">
              <div class="main-box">
                <a href="./Fruits">
                  <h2>Fruits</h2>
                </a>
                  <img src="media/fruits.jpeg">
                  <ul>
                    {% for post in site.tags.fruit %}
                    <a href="{{ post.permalink }}"><li>{{post.title}}</li></a>
                    {% endfor %}
                  </ul>
                </a>
              </div>
              <div class="main-box">
                <a href="./Nuts">
                  <h2>Nuts</h2>
                </a>
                  <img src="media/nuts.jpeg">
                  <ul>
                    {% for post in site.tags.nuts %}
                    <a href="{{ post.permalink }}"><li>{{post.title}}</li></a>
                    {% endfor %}
                  </ul>
                </a>
              </div>
              <div class="main-box">
                <a href="./Vegetables">
                  <h2>Vegetables</h2>
                </a>
                  <img src="media/vegetables.jpeg">
                  <ul>
                    {% for post in site.tags.vegetables %}
                    <a href="{{ post.permalink }}"><li>{{post.title}}</li></a>
                    {% endfor %}
                  </ul>
                </a>
              </div>
        </div>
    </div>
</div>
